MAILRU_EMAIL=promstroyproekt@mail.ru
MAILRU_APP_PASSWORD=put_app_password_here
MAILRU_IMAP_HOST=imap.mail.ru
MAILRU_IMAP_PORT=993
MAILRU_FOLDER=Распечатки
MAILRU_LOOKBACK_MONTHS=2
MAILRU_OUTPUT_DIR=mailru_pdfs
MAILRU_PROCESSED_ACTION=leave
TELEGRAM_BOT_TOKEN=put_botfather_token_here
